{% extends 'Front/Front.html.twig' %}
{% block content %}
<h2 class="rtecenter">
    <a href="" >
        <img alt src="images/don.jpg">
    </a>
</h2>
<p>
    Vos dons sont précieux pour nous permettre de continuer d’aider les exilé.e.s à la rue.
</p>
<h2>
    POURQUOI DONNER REGULIEREMENT ?
</h2>
<ul>
    <li> S’engager grâce au don mensuel par prélèvement automatique, c’est contribuer à <strong> pérenniser les actions de Caritas sur le terrain </strong>, mais aussi pour que nous puissions accompagner mieux et plus de citoyens dans leur démarche d’accueil des personnes exilées.</li>
    <li> Avec un don d’argent régulier chaque mois, vous participez au <strong> développement des programmes de terrain</strong> de Caritas pour assurer un toit et des conditions de vie décentes au plus grand nombre de personnes réfugiées.</li>
</ul>
<p>Aussi, le prélèvement automatique peut être arrêté à tout moment.</p>
<a href="">
    <strong> Cliquez ici pour faire un don mensuel</strong>
    <span class="ext">
     <span class="element-invisible">
     </span>
     </span>
</a>
<p> &nbsp;</p>
<p> Vos dons contribuent au financement des actions d’Utopia 56 sur le terrain :</p>
<ul>
    <li>
        <strong> Assurer nos maraudes quotidiennes </strong>, pour la distribution de matériel de première nécessité, de nourriture, de vêtements, etc., et pour les mises à l’abri.
    </li>
    <li>
        <strong> Développer les collectes de dons en nature</strong>
    </li>
    <li> <strong> Accroître le réseau d’hébergement citoyen  </strong> (permettant l’hébergement long terme des mineurs isolés  et la mise à l’abri d’urgence des femmes seules et familles) </li>
</ul>
<p>&nbsp;</p>
<p>
    <strong>
        Quelques exemples d’utilisation de votre don :
    </strong>
<ul>
    <li> 5 € un kit caleçon / chaussettes neufs</li>
    <li>10 € un petit-déjeuner au local de Calais </li>
    <li> 50 € un plein de carburant pour un véhicule de maraude</li>
    <li>100 € une maraude</li>
</ul>
<p class="rtecenter">
    &nbsp;
    <img alt src="images/1.png">
    <img alt src="images/2.png">
    <img alt src="images/3.png">
    &nbsp;
</p>


{% endblock %}
