{% extends 'Front/Front.html.twig' %}
{% block content %}
<div class="about">
    <div class="container">
        <div class="about-top heading">
            <h2>Qui sommes-nous ?</h2>
        </div>
        <div class="about-bottom">
            <div class="col-md-5 about-left">
                <img src="images/ref2.jpg" alt="" />
            </div>
            <div class="col-md-7 about-right">
                <h4> Caritas</h4>
                <p> Un réseau international visant à créer du lien entre personnes réfugiées et sociétés d'accueil. </p>
                <p>Une communauté mondiale rassemblant des personnes réfugiées pour qu'elles batissent l'avenir ensemble .</p>
                <p> Un passage à l'echelle grace au numérique . </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--about-end-->
<!--why-starts-->
<div class="why">
    <div class="container">
        <div class="why-top heading">
            <h3> Nos engagements </h3>
            <p> Nous partageons nos outils et nos méthodes partout dans le monde car c'est le meilleur moyen pour relever ce défi crucial pour l'humanité au 21ème siècle.</p>
        </div>
        <div class="why-bottom">
            <div class="col-md-7 why-left">
                <div class="why-1">
                    <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                    <div class="why-text">
                        <h4>Notre vision</h4>
                        <p>Nous avons une vision de l'identité ouverte aux centres d'interet,aux vécus, aux compétences et aux reves plutot qu'uniquement focalisée sur la nationalité ou l'origine .</p>
                    </div>
                </div>
                <div class="why-2">
                    <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                    <div class="why-text">
                        <h4> Notre mission</h4>
                        <p>Notre mission sera completée lorsque chacun , peu n'importe d'ou il vient et ou il va pourra réaliser ses reves ou il est  .</p>
                    </div>
                </div>
                <div class="why-2">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    <div class="why-text">
                        <h4>Notre histoire</h4>
                        <p> Dans un monde de plus en plus mobile et hyper connecté, nous croyons au pouvoir des interactions sociales dans la vie réelle .</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 why-right">
                <img src="images/ref.jpg" alt="" />
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--why-end-->
<!--team-starts-->
<div class="team">
    <div class="container">
        <div class="team-top heading">
            <h3>Notre impact </h3>
        </div>
        <div class="team-bottom">
            <div class="col-md-3 team-left wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
                <a href="#">
                    <img src="images/im1.jpg" alt="">
                    <div class="captn">
                        <h4>Caritas avec les citoyens </h4>

                    </div>
                    <div class="team-text">
                        <h5> Caritas&Citoyens</h5>
                        <p> <p>Les citoyens sont talentueux et ils ont des idées pour créer des belles rencontres et formations d'apprentissage
                            entre les nouveaux arrivants et les volantaires . Caritas soutient tous ceux qui fabriquent des ponts sociaux
                            et culturels .
                        </p></p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 team-left wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
                <a href="#">
                    <img src="images/im4.jpg" alt="">
                    <div class="captn">
                        <h4> Caritas avec les organisations</h4>

                    </div>
                    <div class="team-text">
                        <h5>Caritas&Organisations</h5>
                        <p>les organisations peuvent facilement contribuer aux défis d'inclusion , mais elles ont également une opportunité de renforcer leurs ressources humaines , la réputation de leur marque
                            et d'accéder à des nouveaux marchés.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 team-left wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
                <a href="#">
                    <img src="images/im3.jpg" alt="">
                    <div class="captn">
                        <h4>Caritas avec les enfants </h4>
                    </div>
                    <div class="team-text">
                        <h5>Caritas&enfants</h5>
                        <p>Peu importe l’endroit d’où ils viennent, peu importe où ils vivent, les enfants sont d’abord et avant tout des enfants et ils ont besoin de protection.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 team-left wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
                <a href="#">
                    <img src="images/im5.jpg" alt="">
                    <div class="captn">
                        <h4>Caritas avec les médecins </h4>
                    </div>
                    <div class="team-text">
                        <h5>Caritas&Médecins</h5>
                        <p>Nous rassemblons des professionnels de la santé qui peuvent mettre en œuvre un large éventail de soins : consultations, hospitalisations, interventions chirurgicales, soins psychologiques, soins médico-nutritionnels etc. </p>
                    </div>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--team-end-->
<!--address-starts-->
<div class="address">
    <div class="container">
        <div class="address-top">
            <div class="col-md-4 add-left">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                <p><label>Caritas.</label>
                    24 Rue Ahmed Chwaki-La sokra </p>
            </div>
            <div class="col-md-4 add-left">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                <p>+216 50 326 969 ,
                    <br>+216 53 699 505 </p>
            </div>
            <div class="col-md-4 add-left">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <p><a href="mailto:example@email.com">caritas@gmail.com</a></p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}