{% extends 'Front/Front.html.twig' %}
{% block content %}
<div class="grid-12 region region-content " id="region-content">
    <div class="region-inner region-content-inner">
        <a id="main-content"></a>
        <h1 class="title" id="page-title">HÉBERGEMENT SOLIDAIRE AVEC CARITAS </h1>
    </div>
</div>
<div class="field-body">
    <p> Vous les avez forcément aperçu-e-s. </p>
    <P> Il y a chaque soir des centaines d’<strong>exilé.e.s extrêmement vulnérables</strong> qui passent la nuit dehors. Ce sont pour <strong>  femmes seules avec ou sans enfants, les familles, les mineur.e.s non accompagné.e .s </strong> que nous agissons mais aussi afin d’accompagner les citoyens solidaires dans leur démarche d’accueil.</P>
    <p> <strong> Vous souhaitez ouvrir votre porte ? Un soir, plusieurs soirs ou à plus long terme ? </strong></p>
    <p class="rtecenter">
        <a href="">
            <img src="images/citoyen2.jpg">
        </a>
    </p>
    <h2 class="rtecenter"> Contact</h2>
    <p> <strong> Formulaire d’inscription:<a href=""> ici, en cliquant sur ce lien </a>
            <br>
            Email : </strong>
    </p>
    <p class="rtecenter">
        &nbsp;
    </p>
    <p class="rtecenter">
        <img alt src="images/heberg.jpg"
    </p>
</div>
{% endblock %}

