{% extends 'Front/Front.html.twig' %}
{% block content %}
<div class="banner">
    <div class="container">
        <div class="banner-top">

        </div>
    </div>
</div>
<!-- //banner -->
<!-- page details -->

<!-- //page details -->

<!-- menu -->
<a href="http://www.adresse-de-votre-choix.com/" class="bouton5">Offrire un emploi</a>

<section class="portfolio py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="title-section text-center mb-md-5 mb-4 editContent">
            <h3 class="editContent  w3ls-title mb-3">Nos <span class="editContent" style="outline: none; cursor: inherit;">Offre D'emploi</span></h3>
            <p class="editContent  titile-para-text mx-auto">1)De nombreux réfugiés ont un haut niveau d’études et sont très qualifiés, mais ont souvent des difficultés à trouver un emploi en raison des politiques gouvernementales,
                car ils sont victimes de discriminations, etc.
                Les employeurs doivent fournir un emploi équitable et convenable aux réfugiés qu’ils emploient, notamment en les payant au moins le salaire minimum et en leur fournissant des conditions
                de travail sûres, et en s’assurant que leurs méthodes de recrutement ne soient pas discriminatoires. <br>
                2) Élaborez un plan pour déterminer comment votre entreprise peut encourager les réfugiés à travailler pour vous et comment leur fournir le soutien dont ils ont besoin pour s’épanouir.
                Embaucher des réfugiés peut permettre à votre entreprise de bénéficier des compétences et de l’expérience des nouveaux arrivants.</p>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="gallery-demo">
                    <a href="#gal1">
                        <img src="images/emlpoi6.png" alt=" " class="img-fluid" style="outline: none; cursor: inherit;">
                        <h4 class="editContent p-mask" style="outline: none; cursor: inherit;">jardin d'enfant<span class="editContent" style="outline: none; cursor: inherit;"></span></h4>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mt-md-0 mt-4">
                <div class="gallery-demo">
                    <a href="#gal2">
                        <img src="images/receptionniste.jpg" alt=" " class="img-fluid" style="outline: none; cursor: inherit;">
                        <h4 class="editContent p-mask" style="outline: none; cursor: inherit;">Receptionniste <span class="editContent" style="outline: none; cursor: inherit;"></span></h4>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mt-md-0 mt-4">
                <div class="gallery-demo">
                    <a href="#gal3">
                        <img src="images/offre1.jpg" alt=" " class="img-fluid" style="outline: none; cursor: inherit;">
                        <h4 class="editContent p-mask" style="outline: none; cursor: inherit;">Securité<span class="editContent" style="outline: none; cursor: inherit;"></span></h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-md-5">
            <div class="col-md-4 mt-md-0 mt-4">
                <div class="gallery-demo">
                    <a href="#gal4">
                        <img src="images/offre2.jpg" alt=" " class="img-fluid" style="outline: none; cursor: inherit;">
                        <h4 class="editContent p-mask" style="outline: none; cursor: inherit;">Transporteur <span class="editContent" style="outline: none; cursor: inherit;"></span></h4>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mt-md-0 mt-4">
                <div class="gallery-demo">
                    <a href="#gal5">
                        <img src="images/offre3.jpg" alt=" " class="img-fluid" style="outline: none; cursor: inherit;">
                        <h4 class="editContent p-mask" style="outline: none; cursor: inherit;">Jardinier<span class="editContent" style="outline: none; cursor: inherit;"></span></h4>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mt-md-0 mt-4">
                <div class="gallery-demo">
                    <a href="#gal6">
                        <img src="images/offre5.jpg" alt=" " class="img-fluid" style="outline: none; cursor: inherit;">
                        <h4 class="editContent p-mask" style="outline: none; cursor: inherit;">Instituteur dans une école privé<span class="editContent" style="outline: none; cursor: inherit;"></span></h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}