<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Welcome!</title>

    <link href="/FrontEnd/css/bootstrap.css" rel='stylesheet' />
    <link href="/FrontEnd/css/style.css" rel='stylesheet'  />
    <link rel="stylesheet" href="/FrontEnd/css/flexslider.css"  />
    <style>/* Dropdown Button */
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #ddd;}

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {display: block;}

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {background-color: #3e8e41;} </style>
</head>



<body>

<div class="header">
    <div class="container">
        <div class="header-main">

            <div class="logo">
                <img src="/FrontEnd/images/logo.png" alt="" />

            </div>
            <div class="logo">

                <a href="index.html"><h1>CARITAS</h1></a>
            </div>


            <div class="head-right">
                <div class="top-nav">
                    <span class="menu"><img src="/FrontEnd/images/nav-icon.png" alt=""> </span>
                    <ul>
                        <li><a href="index.html"  class="active"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                        <li><a href="about.html"><span class="glyphicon glyphicon-info-sign"></span>About</a></li>
                        <li><a href="typo.html"><span class="glyphicon glyphicon-certificate"></span>Short Codes</a></li>
                        <li><a href="gallery.html"><span class="glyphicon glyphicon-picture"></span>Gallery</a></li>
                        <li><a href="contact.html"><span class="glyphicon glyphicon-envelope"></span>Contact</a></li>
                        <div class="dropdown">
                            <button class="dropbtn">Espace Adhérent</button>
                            <div class="dropdown-content">
                                <a href="#">Connexion</a>
                                <a href="#">Inscription</a>
                            </div>
                        </div>


                        <div class="clearfix"> </div>
                    </ul>
                    <!--script-->
                    <script>
                        $("span.menu").click(function(){
                            $(".top-nav ul").slideToggle(500, function(){
                            });
                        });
                    </script>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="banner">
    <div class="container">
        <div class="banner-top">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="banner-text">
                                <h3>La solidarité </h3>
                                <p> est la tendresse des peuples.</p>
                            </div>
                        </li>
                        <li>
                            <div class="banner-text">
                                <h3>Protegeons</h3>
                                <p>Aidons</p>
                            </div>
                        </li>
                        <li>
                            <div class="banner-text">
                                <h3>construisons des ponts </h3>
                                <p>entre les individus</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
<!--FlexSlider-->
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<script defer src="js/jquery.flexslider.js"></script>
<script type="text/javascript">
    $(window).load(function(){
        $('.flexslider').flexslider({
            animation: "slide",
            start: function(slider){
                $('body').removeClass('loading');
            }
        });
    });
</script>
<!--End-slider-script-->
<!--welcome-starts-->
<div class="welcome">
    <div class="container">
        <div class="welcome-top">
            <br>
            <h2>Bienvenu</h2>
            <p>Fournir un soutien bénévole est vital aux réfugiés qui cherchent refuge dans des conditions dû aux  conditions difficiles dans leur pays d'origine.
                La peur de la persécution, de la guerre et de la violence est une préoccupation réelle, les obligeant à fuir et à demander de l'aide dans les pays voisins.

            </p>
        </div>






        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>
</div>
</div>
</div>
<!--welcome-end-->


<!--events-starts-->
<div class="events">
    <div class="container">
        <div class="events-top heading">
            <h3>Les Associations les plus marquantes 2019 </h3>
        </div>
        <br>

        <div class="col-md-3 event-right">
            <div class="e-1">
                <img src="/FrontEnd/images/terredasile.jpg" alt="" />
                <h4>Terre d’asile Tunisie</h4>
                <br>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                +126 53 699 505
                <br>
                <br> <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>

                Maison du Droit et des Migrations 17 rue Khaled Ibn El Oualid Mutuelleville - Tunis</p>

            </div>

            <div class="e-2">
                <img src="/FrontEnd/images/ftdes.png" alt="" />
                <h4>FTDES</h4>
                <br>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                +126 71 257 664
                <br>
                <br> <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                47, Avenue Farhat Hached، Bloc "A", 2ème étage، Tunis 1001, Tunisie
            </div>
        </div>
        <div class="col-md-3 event-right">
            <div class="e-1">
                <img src="/FrontEnd/images/trc.jpg" alt="" />
                <h4>Conseil Tunisien pour les Réfugiés</h4>
                <br>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                +126 71 781 531
                <br>
                <br> <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                Rue Abdelhamid Ibn Bedis - 1002 - Tunis
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>
<!--events-end-->
<!--help-starts-->
<div class="help">
    <div class="help-left">
        <img src="/FrontEnd/images/h2.jpg" alt="" />
    </div>
    <div class="help-right heading">
        <h3>On à besoin de vous</h3>
        <h5>Nous travaillons nuit et jour pour protéger les réfugiés et leur venir en aide . Mais nous avons besoin de votre aide pour continuer.</h5>

        <div class="tool">
            <a class="tooltips" href="#">
                <span></span></a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!--help-end-->
<!--address-starts-->
<div class="address">
    <div class="container">
        <div class="address-top">
            <div class="col-md-4 add-left">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                <p><label>Caritas</label>
                    24 Rue Ahmed Chwaki-la sokra</p>
            </div>
            <div class="col-md-4 add-left">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                <p>+126 50 326 969 ,
                    <br>+126 53 699 505</p>
            </div>
            <div class="col-md-4 add-left">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <p><a href="mailto:example@email.com">caritas@gmail.com</a></p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--address-end-->





<div class="footer">
    <div class="container">
        <div class="footer-top">
            <a href="index.html"><h3>CARITAS</h3></a>
            <p>© 2020 CARITAS. All Rights Reserved </a> </p>
            <a href="#home" class="scroll"><img src="/FrontEnd/images/top-arrow.png" alt="" /></a>
        </div>
    </div>
</div>

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<script src="/FrontEnd/js/jquery.min.js"></script>
<!--start-smoth-scrolling-->
<script type="text/javascript" src="/FrontEnd/js/move-top.js"></script>
<script type="text/javascript" src="/FrontEnd/js/easing.js"></script>
<script defer src="/FrontEnd/js/jquery.flexslider.js"></script>
<script>
    $("span.menu").click(function(){
        $(".top-nav ul").slideToggle(500, function(){
        });
    });
</script>
<script defer src="FrontEnd/js/jquery.flexslider.js"></script>
<script type="text/javascript">
    $(window).load(function(){
        $('.flexslider').flexslider({
            animation: "slide",
            start: function(slider){
                $('body').removeClass('loading');
            }
        });
    });
</script>

